.icon-container {
    position:fixed;
    width:4em;
    height:4em;
    bottom:2em;
    right:2em;
    background-color:#bdc00083;
    color:#FFF;
    border-radius:20vw;
    z-index:100;
  }

  .icon{
      margin: 0.6em 0.15em 0 0;
  }

  @media only screen and (max-width: 768px){
    .icon{
        margin: 0.8em 0.15em 0 0;
    }
  }