.icon-container {
    position:fixed;
    width:70px;
    height:70px;
    bottom:40px;
    right:40px;
    background-color:#bdc00083;
    color:#FFF;
    border-radius:50px;
    z-index:100;
  }

  .icon{
      margin: 14px 2px 0 0;
  }